
table {
    width: 100%;
  }
.container {
    border: 1px solid black;
    max-width: 900px;
    margin: 0 auto;
    .clearfix {
        clear: both;
    }
    .dropdowncolor {
        background-color: lightgray;
    }
    .left-section {
        width: 220px;
        height: 905px;
        background-color: purple;
        display: inline-block;
        .box {
            text-align: center;
        }
    }
    .right-section {
        width: calc(100% - 240px);
        float: right;
        padding: 10px;
        background-color: lightgray;
        .filter {
            margin-bottom: 10px;
            display: inline-flex;
            .searching {
                display: inline-block;
                background-color: white;
                border: 1px solid white;
                padding-right: 210px;
                margin-left: 10px;
                .textDesc {
                    margin: 15px 0px 0px 10px;
                    font-size: 40px;
                }
                .textFrame {
                    font-size: 16px;
                    padding: 5px;
                    padding-left: 10px;
                }
            }
            .searching1 {
                display: inline-flex;
                background-color: white;
                border: 1px solid white;
                margin-left: 10px;
                .textDesc {
                    margin: 15px 0px 0px 10px;
                    font-size: 40px;
                }
                .textFrame {
                    font-size: 16px;
                    padding: 5px;
                    padding-left: 10px;
                }
            }
        }
        .graphFrame {
            background: white;
            margin: 10px;
            padding: 10px;
            .rightArrow {
                float: right;
                position: relative;
                top: 23px;
            }
            .leftArrow {
                cursor: pointer;
                padding: 0 5px;
                border: 1px solid gray;
                display: inline-block;
                background-color: lightgray;
            }
            .inlineFlex {
                display: inline-flex;
                margin-bottom: 15px;
            }
            .overviewDesc {
                font-size: 16px;
            }
            .headerDesc {
                font-size: 24px;
            }
            .sorting {
                position: relative;
            }
        }
        .gridSection {
            display: inline-flex;
        .gridFrame {
            height: 235px;
            width: 290px;
            overflow: auto;
            background: white;
            margin: 10px;
            padding: 10px;
        }
        .totalGrid {
            border-top: 2px solid blue;
        }
        .fraudGrid {
            border-top: 2px solid red;
        }
    }
    }
}

@media only screen and (max-width: 620px) {
    .container {
        border: none;
        .left-section {
            min-width: 290px;
            .box {
                display: block;
            }
        }
        .right-section {
            width: 100%;
        }
    }
}
